<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damar.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CharLearning"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KonsultasiActivity" />
        <activity android:name=".MetodeActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".KlasifikasiActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".Hasil.Auditori1" />
        <activity android:name=".Hasil.Auditori2" />
        <activity android:name=".Hasil.Visual1" />
        <activity android:name=".Hasil.Visual2" />
        <activity android:name=".Hasil.Visual3" />
        <activity android:name=".Hasil.Kinestetik1" />
        <activity android:name=".Hasil.Kinestetik2" />
        <activity android:name=".Hasil.AudioVisual1" />
        <activity android:name=".Hasil.AudioKinestetik1" />
        <activity android:name=".Hasil.AudioKinestetik2" />
        <activity android:name=".Hasil.VisualKinestetik1" />
        <activity android:name=".Hasil.VisualKinestetik2" />
        <activity android:name=".HasilActivity" />
        <activity android:name=".Menu.AuditoriActivity" />
        <activity android:name=".Menu.VisualActivity" />
        <activity android:name=".Menu.Visual2Activity" />
        <activity android:name=".Menu.KinestetikActivity" />
        <activity android:name=".Menu.AudioKinestetikActivity" />
        <activity android:name=".Menu.VisualKinestetikActivity"></activity>
        <activity android:name=".HasilKlasifikasi"></activity>
    </application>

</manifest>